.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-box{
    display: flex;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
    padding: 40%;
}

.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form h1{
    margin-bottom: 20px;
    width: 500px;
}

.form input[type = "date"]{
    width: 350px;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.form input[type = "email"],
.form input[type = "password"]{
    width: 350px;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-right: 20px;
}

.tombol{
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3a90dc;
    color: white;
    font-weight: bold;
}

.tombol:hover{
    background-color: #337ac7;
}

.form p{
    margin-top: 15px;
    font-size: 14px;
}